.mfs-xs {
  font-size: 10px;
}

.mfs-sm {
  font-size: 12px;
}

.mfs-md {
  font-size: 14px;
}

.mfs-l {
  font-size: 20px;
}

.mfs-xl {
  font-size: 22px;
}

.mfw-light {
  font-size: 400;
}

.mfw-medium {
  font-size: 500;
}

.mfw-bold {
  font-size: 900;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

/*all pages header*/
.logo {
  height: 80px;
  width: 80px;
  margin-left: 10px;
}

.navbar {
  background-image: linear-gradient(to left, #4d96f7, #083775);
  color: white;
}
.navbar .nav-link {
  font-size: 1.2rem;
  color: white;
  margin-left: 18px;
}
.navbar svg {
  height: 22px;
  width: 23px;
  margin: 10px;
}

/*all pages header*/
.logo {
  height: 80px;
  width: 80px;
  margin-left: 10px;
}

.navbar {
  background-image: linear-gradient(to left, #4d96f7, #083775);
  color: white;
}
.navbar .nav-link {
  font-size: 1.2rem;
  color: white;
  margin-left: 18px;
}
.navbar svg {
  height: 22px;
  width: 23px;
  margin: 10px;
}

/*all pages header*/
.logo {
  height: 80px;
  width: 80px;
  margin-left: 10px;
}

.navbar {
  background-image: linear-gradient(to left, #4d96f7, #083775);
  color: white;
}
.navbar .nav-link {
  font-size: 1.2rem;
  color: white;
  margin-left: 18px;
}
.navbar svg {
  height: 22px;
  width: 23px;
  margin: 10px;
}

/*index main*/
.carousel-inner img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.container-fluid {
  margin: 0px;
  padding: 0;
}
.container-fluid .rowTitleOne {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}
.container-fluid .rowTitleOne h1 {
  font-size: 50px;
  color: #083775;
}
.container-fluid .rowTitleOne p {
  font-size: 30px;
  color: #083775;
  text-shadow: 1px 1px 1px rgb(172, 166, 166);
}
.container-fluid .rowMainOne {
  background-color: rgb(236, 236, 248);
  text-align: center;
}
.container-fluid .rowMainOne .rowOne {
  display: flex;
  justify-content: center;
  background-color: #d0ddeb;
  padding: 80px;
}
.container-fluid .rowMainOne .rowOne .cardOne {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20rem;
  border-radius: 10px;
}
.container-fluid .rowMainOne .rowOne .cardOne img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  height: 300px;
}
.container-fluid .rowMainOne .rowOne .cardOne .cardBodyOne {
  color: #083775;
  margin: 10px;
}
.container-fluid .rowMainOne .rowOne .cardOne .cardBodyOne .cardTitleOne {
  margin: 10px;
  font-weight: 600;
  font-size: 20px;
}
.container-fluid .rowMainOne .rowOne .cardOne .cardBodyOne .cardTextOne {
  margin: 10px;
}
.container-fluid .row-three {
  text-align: center;
}
.container-fluid .row-three .moreinfocontainer {
  background-color: #cbc9c9;
  padding: 50px;
  margin: 0px;
}

/*quienes somos main*/
.whocontainer .row-whoone {
  color: #0d1c68;
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.whocontainer .row-whoone h1 {
  font-size: 60px;
  color: #083775;
}
.whocontainer .row-whotwo {
  margin: 40px;
}
.whocontainer .row-whothree {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}
.whocontainer .row-whothree img {
  height: 240px;
  width: 280px;
  margin: 4px;
  padding: 20px;
  border-radius: 30px;
}
.whocontainer .row-whothree .buttoncontacto {
  align-items: center;
  margin: 3;
  padding: 3;
}

/*examenes main*/
.container-fluid {
  margin-top: 20px;
}
.container-fluid h1 {
  font-size: 60px;
  color: #083775;
  text-align: center;
}
.container-fluid .examenesImg {
  display: block;
  width: 100%;
}
.container-fluid h2 {
  color: #0d1c68;
  font-size: 45px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-fluid p {
  text-align: center;
  font-size: 19px;
}
.container-fluid .buttonExam {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 10px;
}
.container-fluid .buttonExam .button {
  padding-right: 30px;
  padding-left: 30px;
}

/*cursos main*/
.containercards-fluid h1 {
  color: #0d1c68;
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.containercards-fluid p {
  color: #0d1c68;
  font-size: 38px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.containercards-fluid .textCursos {
  color: #0d1c68;
  font-size: 45px;
  text-align: center;
}
.containercards-fluid .card-cursos {
  background-color: rgb(229, 226, 226);
  margin-top: 30px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 30px;
  border-radius: 20px;
}
.containercards-fluid .card-cursos img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.containercards-fluid .card-cursos .card-body {
  margin-top: 20px;
}
.containercards-fluid .card-cursos .card-body .card-title {
  color: #083775;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 50px;
}
.containercards-fluid .card-cursos .card-body .textcursos {
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-left: 50px;
  line-height: 35px;
}
.containercards-fluid .card-cursos .card-body .btnCursos {
  padding: 10px;
  background-color: #1b76dd;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 50px;
}

/*contacto main*/
.contactocont .contacto-title {
  color: #0d1c68;
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contactocont img {
  width: 50px;
  height: 50px;
  margin-left: 25px;
}
.contactocont h2 {
  color: #0d1c68;
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.contactocont img {
  height: 400px;
  width: 600px;
}
.contactocont .formularioCont .formulario {
  font-size: 10px;
  font-weight: 550;
  color: #0d1c68;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-right: 50px;
  border-radius: 20px;
}
.contactocont .mapaCont p {
  text-align: center;
}

/*index aside*/
.containerFluidNovedades {
  padding: 60px;
}
.containerFluidNovedades .textFour {
  text-align: center;
  font-size: 55px;
  color: #0d1c68;
}
.containerFluidNovedades .imagennovedades img {
  height: 200px;
  width: 500px;
}
.containerFluidNovedades .btnnovedades {
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px;
  background-color: #4e6af8;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

/*all pages footer*/
footer {
  background-image: linear-gradient(to left, #4688df, #0a2f5a);
  margin: 0;
  padding: 0;
}
footer .container-pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}
footer .container-pie svg {
  height: 25px;
  width: 30px;
  margin: 20px;
  margin: 5px;
}

/*MEDIA QUERIES - tablet*/
@media (max-width: 768px) {
  /*index main*/
  .containerFluidOne .cardOne {
    margin-bottom: 30px;
  }
  .containerFluidOne .rowOne {
    display: flex;
    flex-wrap: wrap;
  }
  /*index aside*/
  .containerFluidNovedades {
    justify-content: center;
  }
  .containerFluidNovedades .textFour {
    font-size: 45px;
  }
  /*Cursos main*/
  .containercards-fluid .textCursos {
    color: #0d1c68;
    font-size: 25px;
    text-align: center;
  }
  .containercards-fluid .card-cursos {
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    background-color: #ced5df;
  }
  .containercards-fluid .card-cursos img {
    height: 300px;
  }
  /*Contacto main*/
  main {
    margin: 10px;
  }
  main .contactocont img {
    width: 700px;
    height: 300px;
    padding: 0px;
    margin: 20px;
  }
}
/*MEDIA QUERIES - mobile*/
@media (max-width: 480px) {
  /*index main*/
  .containerFluidOne .cardOne {
    margin-bottom: 30px;
  }
  .containerFluidOne .rowOne {
    display: flex;
    flex-wrap: wrap;
  }
  .containerFluidNovedades {
    justify-content: center;
  }
  .containerFluidNovedades .textFour {
    font-size: 45px;
  }
  /*Cursos main*/
  .containercards-fluid h1 {
    color: #0d1c68;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .containercards-fluid .textCursos {
    color: #0d1c68;
    font-size: 25px;
    text-align: center;
  }
  .containercards-fluid .card-cursos img {
    height: 300px;
  }
  /*Contacto main*/
  main {
    margin: 10px;
  }
  main .contactocont img {
    width: 400px;
    height: 180px;
    padding: 0px;
    margin: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
