*{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

/*all pages header*/

.logo {
    height: 90px;
    width: 90px;
    margin-left: 10px; 
}

.navbar {
    background-image: linear-gradient(to right, #124485,#3380d8);    
    color: white;
}

.nav-link {
    font-size: 1.2rem;
    color: white;
    margin-left: 20px;
}

.navbar svg {
    height: 20px;
    width: 20px;
    margin: 10px;
}
/*index main*/

.container-fluid {
    margin: 0;
    padding: 0;
}

.row-one {
    height: 150px;  
    background-image: radial-gradient(ellipse 1000px 2000px, #0d1c68,#3380d8);
    color: white; 
}

.row-one h1 {
    margin-top: 20px;
    font-size: 40px
}

.row-one p {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bolder;

}

.card img {
    border: #cbc9c9;
    border-style: solid;
    margin-top: 12px;
}

.card {
    background-color: #ebe3e3;
}

.moreinfocontainer {
    background-color: #cbc9c9;
}

/*quienes somos main*/

.row-whoone {
    color: #0d1c68;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row-whothree img {
    height: 240px;
    width: 280px; 
}

/*index main*/

.imgcursos {
    height: 30px;
    width: 50px;
}

/*examenes main*/

.container-fluid h1 {
    color: #0d1c68;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-fluid h2 {
    color: #0d1c68;
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttonExam {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 10px;
}

.buttonExam button {
    padding-right: 30px;
    padding-left: 30px;
}
/*contacto main*/

.container-fluid h3 {
    color: #0d1c68;
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.contacto-img {
    height: 400px;
    width: 650px;
}

/*all pages footer*/ 

footer {
    background-color: #124485 ;
    color: rgb(227, 226, 240);
    margin: 0;
    padding: 0;
}

.container-pie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.container-pie svg {
    height: 30px;
    width: 30px;
    margin: 20px;
}