/*all pages header*/

.logo {
    height: 80px;
    width: 80px;
    margin-left: 10px;}

.navbar {

    background-image: linear-gradient(to left, $color-secondary, $color-primary);
    color: white;

    .nav-link {
        font-size: 1.2rem;
        color: white;
        margin-left: 18px;
    }

    svg {
        height: 22px;
        width: 23px;
        margin: 10px;
    }
}
