/*index aside*/

.containerFluidNovedades {
    padding: 60px;    
    .textFour {
        text-align: center;
        font-size: 55px;
        color: #0d1c68;
    }
    .imagennovedades {
        img {
            height: 200px;
            width: 500px;
        }
    }
    .btnnovedades {
        margin-top: 20px;
        margin-left: 10px;
        padding: 10px;
        background-color: #4e6af8;
        color: white;
        text-decoration: none;
        border-radius: 10px;
    }
}
