/*index aside*/

.containerFluidNovedades {
    padding: 60px;
    justify-content: center;
    .textFour {
        text-align: center;
        font-size: 55px;
        color: #0d1c68;
    }
    .imagennovedades {
        align-items: center;
        img {
            height: 200px;
            width: 500px;
        }
    }
}